.sm-icon {
   padding-left: 3.5%;
   padding-right: 3.5%;
}

.sm-container {
    margin: auto;
    display: flex;
    justify-content: center;
}

.sm-wrapper {
    margin-top: 1rem;
    justify-content: center;
    
    background-color: darkkhaki;
    border-radius: 10px;
    border: 3px solid black;
    width: 30vw;
    min-width: 20rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.sm-icon:hover {
    fill: tomato;
}