.newsletter-container {
    margin: auto;
    width: 40vw;
    min-width: 20rem;
    text-align: center;
    padding-top: 12vh;
}

.newsletter-header {
    color: tomato;
}

.newsletter-button {
    background-color: tomato;
    border-color: darkkhaki;
    border-radius: 10px;
    padding: 0.5vw 4vw 1vw;
    font-size: 3vh;
    width: 45%;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    height: fixed;
    font-weight: bold;
}

.newsletter-button:hover {
    background-color: darkkhaki;
    border-color: tomato;

}

.newsletter-input {
    background: transparent;
    border-color: tomato;
    border-radius: 10px;
    height: 60px;
    width: 20vw;
    min-width: 20rem;
    padding: 0px 30px 0px;
    font-size: 1.4rem;
    color:rgb(214, 214, 214)
}

/* .newsletter-form {
    border: solid;
    border-color: tomato;
    border-radius: 20px;
    border-width: 2px;
    padding: 10px 10px 10px;
} */
