.mission-text {
    margin-top: 1rem;
    color: darkkhaki;
    font-size: 1.5rem;
    padding: .5rem .5rem .5rem;
    text-align: center;
}

.mission-header {
    color: darkkhaki;
    font-size: 2rem;  
    padding: .5rem .5rem .5rem;
    text-align: center;
}

.mission-container {
    width: 60vw;
    min-width: 20rem;
    margin: auto;
    margin-top: 2rem;
}